<div class="container singin bottom-padding-to-footer">
    <div class="text-center">
        <img src="assets/img/logo.png" class="img-fluid logo-sing" alt="API Z">
        <br>
        <h3 class="titulo-sing mt-3 mb-5">
            <span class="letras-amarillas">Congratulations!</span>
        </h3>
    </div>
    <div class="container py-3" id="panel-login">
        <div class="row">
            <div class="col-1 col-md-2 col-lg-3"></div>
            <div class="col-10 col-md-8 col-lg-6 formulario-sing p-5">
                <p>You have been registered correctly. You can now access your profile and get your APIKEY!</p>
                <a class="letra-pequena" href="https://dragonballapi.com/">Home</a>
            </div>
            <div class="col-1 col-md-2 col-lg-3"></div>
        </div>
    </div>
</div>