<div class="container singup bottom-padding-to-footer">
    <div>
        <br>
        <div class="text-center">
            <img src="assets/img/logo.png" class="img-fluid logo-sing" alt="API Z">
            <h3 class="titulo-sing mt-3 mb-5">
                <span class="letras-amarillas">Table: </span>
                <span *ngIf="tipo" class="letras-rojas">{{tipo}}</span>
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-12 panel-perfil py-5 px-5">

            <div *ngIf="tipo=='transformation_character'">
                <form *ngIf="valor" (ngSubmit)="update(data)" #data="ngForm">
                    <label class="col-form-label" for="id_transformation">id_transformation</label>
                    <input type="text" class="form-control mb-3" [(ngModel)]="valor.id_transformation" name="id_transformacion">
                    <label class="col-form-label" for="id_character">id_character</label>
                    <input type="text" class="form-control mb-3" [(ngModel)]="valor.id_character" name="id_personaje">
                    <div id="status-update"></div>
                    <button type="submit" class="btn btn-block btn-success mb-3 mt-5 px-3 py-2 hvr-float-shadow">Update</button>
                    <button type="submit" class="btn btn-block btn-danger mb-3 mt-3 px-3 py-2 hvr-float-shadow" (click)="volver()">Back</button>
                </form>
            </div>

            <div *ngIf="tipo=='transformation_fusion'">
                <form *ngIf="valor" (ngSubmit)="update(data)" #data="ngForm">
                    <label class="col-form-label" for="id_transformation">id_transformation</label>
                    <input type="text" class="form-control mb-3" [(ngModel)]="valor.id_transformation" name="id_transformacion">
                    <label class="col-form-label" for="id_fusion">id_fusion</label>
                    <input type="text" class="form-control mb-3" [(ngModel)]="valor.id_fusion" name="id_fusion">
                    <div id="status-update"></div>
                    <button type="submit" class="btn btn-block btn-success mb-3 mt-5 px-3 py-2 hvr-float-shadow">Update</button>
                    <button type="submit" class="btn btn-block btn-danger mb-3 mt-3 px-3 py-2 hvr-float-shadow" (click)="volver()">Back</button>
                </form>
            </div>

            <div *ngIf="tipo=='apparition_character'">
                <form *ngIf="valor" (ngSubmit)="update(data)" #data="ngForm">
                    <label class="col-form-label" for="id_saga">id_saga</label>
                    <input type="text" class="form-control mb-3" [(ngModel)]="valor.id_saga" name="id_saga">
                    <label class="col-form-label" for="id_character">id_character</label>
                    <input type="text" class="form-control mb-3" [(ngModel)]="valor.id_character" name="id_personaje">
                    <div id="status-update"></div>
                    <button type="submit" class="btn btn-block btn-success mb-3 mt-5 px-3 py-2 hvr-float-shadow">Update</button>
                    <button type="submit" class="btn btn-block btn-danger mb-3 mt-3 px-3 py-2 hvr-float-shadow" (click)="volver()">Back</button>
                </form>
            </div>

            <div *ngIf="tipo=='apparition_race'">
                <form *ngIf="valor" (ngSubmit)="update(data)" #data="ngForm">
                    <label class="col-form-label" for="id_saga">id_saga</label>
                    <input type="text" class="form-control mb-3" [(ngModel)]="valor.id_saga" name="id_saga">
                    <label class="col-form-label" for="id_race">id_race</label>
                    <input type="text" class="form-control mb-3" [(ngModel)]="valor.id_race" name="id_raza">
                    <div id="status-update"></div>
                    <button type="submit" class="btn btn-block btn-success mb-3 mt-5 px-3 py-2 hvr-float-shadow">Update</button>
                    <button type="submit" class="btn btn-block btn-danger mb-3 mt-3 px-3 py-2 hvr-float-shadow" (click)="volver()">Back</button>
                </form>
            </div>

            <div *ngIf="tipo=='apparition_transformation'">
                <form *ngIf="valor" (ngSubmit)="update(data)" #data="ngForm">
                    <label class="col-form-label" for="id_saga">id_saga</label>
                    <input type="text" class="form-control mb-3" [(ngModel)]="valor.id_saga" name="id_saga">
                    <label class="col-form-label" for="id_transformation">id_transformation</label>
                    <input type="text" class="form-control mb-3" [(ngModel)]="valor.id_transformation" name="id_transformacion">
                    <div id="status-update"></div>
                    <button type="submit" class="btn btn-block btn-success mb-3 mt-5 px-3 py-2 hvr-float-shadow">Update</button>
                    <button type="submit" class="btn btn-block btn-danger mb-3 mt-3 px-3 py-2 hvr-float-shadow" (click)="volver()">Back</button>
                </form>
            </div>

            <div *ngIf="tipo=='apparition_fusion'">
                <form *ngIf="valor" (ngSubmit)="update(data)" #data="ngForm">
                    <label class="col-form-label" for="id_saga">id_saga</label>
                    <input type="text" class="form-control mb-3" [(ngModel)]="valor.id_saga" name="id_saga">
                    <label class="col-form-label" for="id_fusion">id_fusion</label>
                    <input type="text" class="form-control mb-3" [(ngModel)]="valor.id_fusion" name="id_fusion">
                    <div id="status-update"></div>
                    <button type="submit" class="btn btn-block btn-success mb-3 mt-5 px-3 py-2 hvr-float-shadow">Update</button>
                    <button type="submit" class="btn btn-block btn-danger mb-3 mt-3 px-3 py-2 hvr-float-shadow" (click)="volver()">Back</button>
                </form>
            </div>

        </div>
    </div>
</div>