<div class="container-fluid p-0">
    <div class="text-center portada">
        <img class="img-fluid img-portada animated jackInTheBox" src="assets/img/portada.png" alt="DragonBall API">
    </div>
    <div class="bottom-padding-to-footer">
        <div class="text-center py-3">
            <img src="assets/img/logo.png" class="img-fluid logo-sing" alt="API Z">
            <br>
        </div>
        <hr>
        <div class="container text-white">
            <div class="animated slideInLeft">
                <h3 class="mt-5">What is this?</h3>
                <p class="text-documentacion">This website provides a RESTful API interface to highly detailed objects built from thousands of lines of data related to Dragon Ball. We specifically cover the anime franchise, though we'd like to cover the comic. Using this website,
                    you can consume information on Dragon Ball, characters, transformations, fusions and much more.</p>
                <p class="text-documentacion">This API is "public", because we need a APIKEY but we can obtein the APIKEY for FREE simply by registering. Once registered and logged in your profile, you will get your APIKEY, and completely free!.</p>
            </div>
            <hr>
            <div class="animated slideInRight">
                <h3 class="mt-5">What exactly is an API?</h3>
                <p class="text-documentacion">This is probably worth clearing up very quickly for those who don't know. An API (Application Programming Interface) is a set of interfaces (in this case, url links) that are publicly available, that allow developers to interact with an
                    application. In this instance; the application is a database of thousands of FragonBall-related objects.</p>
            </div>
            <hr>
            <div class="animated slideInLeft">
                <h3 class="mt-5">What are the features?</h3>
                <p class="text-documentacion">I'm using <a class="link-footer" href="https://phalconphp.com/es/" target="_blank"> Phalcon, a PHP Framework </a>, to serve a REST API to you. The interface is made with Angular 5.</p>
                <p class="text-documentacion">The data is all formatted in JSON and we also support JSON Schema for programmatically understanding the attributes of each resource.</p>
            </div>
            <hr>
            <div class="animated slideInRight">
                <h3 class="mt-5">Why did you build this?</h3>
                <p class="text-documentacion">I realized that Phalcon is a very fast and clean code framework. I looked for APIs about this franchise and I did not find any! I also had an end-of-course project, so I took advantage of the moment.</p>
            </div>
            <hr>
            <div class="animated slideInLeft">
                <h3 class="mt-5">Who are you?</h3>
                <p class="text-documentacion">I'm <a class="link-footer" href="https://antoniojesusalvarezmalagon.es/" target="_blank">Antonio Jesús Álvarez Malagón</a>, a junior web developer.</p>
            </div>
            <hr>
            <div class="animated slideInRight">
                <h3 class="mt-5">Copyright and stuff?</h3>
                <p class="text-documentacion">This project is open source and all data has been freely collected from open sources such as <a class="link-footer" href="http://dragonball.wikia.com/wiki/Main_Page" target="_blank"> DragonBall Wiki </a></p>
            </div>
            <hr>
        </div>
    </div>
</div>